<div id="{{ name }}_editor" style="width: 100%"></div>

<textarea id="id_{{ name }}" name="{{ name }}" required="" style="display: none">
  {{ data }}
</textarea>

<script>

  var templates = document.getElementById('id_'.concat('{{ template }}'));
  var template = JSON.parse(templates.selectedOptions[0].value);
  // we need to find out if we are in an inlined form
  document.addEventListener("DOMContentLoaded", function () {
    djangoReactiveRenderForm(
      "{{ name }}",
      template.schema,
      template.ui_schema || {},
      {{ data|safe }}
    );
  });
</script>
